.input-group{
    background-color: #fff;
}

input{
    margin-left:10px;
    border: none;
    height: 40px;
    outline: 0;
    color:rgb(80,80,80);
    font-size: 1.2em;
    width: 100%;
}

button{
    border: none;
    background-color: white;
    outline: 0;
}
button:hover{
    cursor: pointer;
}

.row{
    width:100% ;
}